<ul>
{{#each users}}
    <li>
        <div>
            <em>Username:</em>{{username}}<br />
            <em>Github User ID:</em>{{githubid}}
            <hr>
        </div>
    </li>
{{/each}}
</ul>
